<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Welcome to add restaurant</h1>

    <hr>

    <form action="">
        <label for="restaurent_name">Restaurant Name:</label> <br>
        <input type="text" name="restaurent_name" id=""> <br> <br>

        <label for="picture_url">Picture URL:</label> <br>
        <input type="text" name="picture_url" id=""> <br><br>

        <label for="cuisine">CUISINE: </label> <br>
        <input type="text" name="cuisine" id=""> <br> <br>

        <label for="rating">Rating: </label> <br> <br>
        <input type="number" name="rating" id="" min="0" max="5" step="0.5">
    </form>
  </body>
</html>
