<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>showing restaurant</h1>

    <table border="1" width="80%">
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Picture</th>
          <th>Cuisine</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        {% for r in restaurantList %}
        <tr>
          <td>{{ r.name }}</td>
          <td>
            <img
              src="{{r.picture}}"
              alt=""
              srcset=""
              width="80%"
              height="auto"
              
            />
          </td>
          <td>{{ r.cuisine }}</td>
          <td>{{ r.rating }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
