<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>showing restaurant</h1>

    <table border="1" width="80%">
      <thead>
        <tr>
          <th>Restaurant Name</th>
          <th>Picture</th>
          <th>Cuisine</th>
          <th>Rating</th>
          <th>Operations</th>
        </tr>
      </thead>
      <tbody>
        {% for r in restaurantList %}
        <tr>
          <td>{{ r.name }}</td>
          <td>
            <img
              src="{{r.picture}}"
              alt=""
              srcset=""
              width="80%"
              height="auto"
            />
          </td>
          <td>{{ r.cuisine }}</td>
          <td>{{ r.rating }}</td>
          <td>
            <a href="{% url 'open_update_restaurant'  r.id %}"
              >Update Restaurant info</a
            >
            <br />
            <br />
            <a href="{% url 'open_update_menu' r.id %}">Update Menu</a>
            <br />
            <br />
            <a href="{% url 'delete_restaurant' r.id %}">Delete Restaurant</a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br />
    <br />
    <a href="{% url 'open_add_restaurant' %}">Add restaurant</a>
  </body>
</html>
