<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>show current menu</h1>
    <table border="1">
      <thead>
        <tr>
          <th>Item name</th>
          <th>Description</th>
          <th>Price</th>
          <th>Vegetarian</th>
          <th>Picture</th>
        </tr>
      </thead>
      <tbody>
        {% for i in itemList %}
        <tr>
          <td>{{i.name}}</td>
          <td>{{i.description}}</td>
          <td>{{i.price}}</td>
          <td>{{i.vegeterian}}</td>
          <td><img src="{{i.picture}}" alt="" width="80%" height="auto"></td>
        </tr>

        {% endfor %}
      </tbody>
    </table>


   

    <h1>Add menu item</h1>
    <form action="{% url 'update_menu' restaurant.id %}" method="post">
      {% csrf_token %}
      <label for="name">Item Name</label><br />
      <input type="text" id="name" name="name" required /> <br /><br />

      <label for="description">Description</label><br />
      <textarea
        name="description"
        id="description"
        name="description"
      ></textarea>
      <br /><br />

      <label for="price">Price</label> <br />
      <input type="number" id="price" name="price" step="0.01" required />
      <br />
      <br />

      <label for="is_veg">Vegetarian</label> <br />
      <input type="checkbox" name="is_veg" id="is_veg" /> <br />
      <br />

      <label for="picture">Image Url</label> <br />
      <input type="url" id="picture" name="picture" /> <br />
      <br />

      <button type="submit">Add Item</button>
    </form>
  </body>
</html>
